<div class="container mt-20">
  <!-- Navbar con slider horizontal mejorado -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm mb-5">
    <div class="container-fluid justify-content-center position-relative">
      <button class="slider-arrow left-arrow" (click)="scrollSlider('left')">
        &#8249;
      </button>
      <div class="navbar-nav d-flex flex-row overflow-hidden slider-container">
        <div class="nav-item mx-2" *ngFor="let country of countries" (click)="selectedCountry = country">
          <a class="nav-link d-inline-block text-center" href="#" [ngClass]="{'active': selectedCountry === country}">
            <span class="fi fi-{{ getCountryFlag(country.country) }} d-block mb-1 flag-icon"></span>
            <span class="country-name">{{ country.country }}</span>
          </a>
        </div>
      </div>
      <button class="slider-arrow right-arrow" (click)="scrollSlider('right')">
        &#8250;
      </button>
    </div>
  </nav>

  <!-- Formulario para ingreso anual -->
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm p-5 rounded-3">
        <!-- Agregamos el nuevo título dentro del formulario -->
        <h2 class="text-center mb-4">Calculadora de Impuestos sobre Sociedades - UE</h2>
        
        <div class="form-group mb-4">
          <label for="incomeInput" class="form-label">Ingreso anual / Beneficio (en euros):</label>
          <input [(ngModel)]="annualIncome" type="number" class="form-control form-control-lg" id="incomeInput" placeholder="Ingresa el monto">
        </div>
        <button (click)="calculateTaxes()" class="btn btn-primary w-100 btn-lg">Calcular Impuestos</button>
      </div>
    </div>
  </div>

<!-- Resultados -->
<div class="row justify-content-center">
  <div class="col-md-12"> <!-- Aumento a col-md-10 para mayor anchura -->
    <div *ngIf="taxResult" class="result-container">
      <h3>Resultado del Impuesto sobre Sociedades</h3>
      <hr class="result-divider">
      <p><strong>País seleccionado:</strong> {{ selectedCountry?.country }}</p>
      <p><strong>Porcentaje del impuesto:</strong> {{ taxResult.corporateTaxRate }}%</p>
      <p class="result-value"><strong>Monto a pagar:</strong> {{ taxResult.corporateTaxAmount | currency:'EUR' }}</p>
    </div>
  </div>
</div>


